body {
    background-color: rgb(237, 250, 252);
    font-size: 20px;
    font-family: lobster;
    color: rgb(84, 133, 7);
    text-align: center;
}
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    background-color: rgb(0, 174, 255);
}
nav li {
    display: inline;
    padding: 10px;
}
.menu {
    
}
nav a {
    position: relative;
    bottom: 15px;
    color: white;
}