body {
    background-color: rgb(230, 240, 240);
}
[type='checkbox'] {
    margin: 10px 5px 10px 5px;
}
.smaller-image {
    margin: 10px auto 10px auto;
    display: block;
    width: 200px;
    border-color: rgb(120, 221, 162);
    border-width: 5px;
    border-style: solid;
    border-radius: 8px;
}
p {
    margin: auto 200px auto 200px;
    font-size: 20px;
    color: rgb(84, 133, 7);
    text-align: justify;
}
.heading {
    color: rgb(174, 0, 255);
    font-family: Lobster, "times new roman";
    text-align: center;
}
h3 {
    text-align: center;
    background-color: rgb(81, 223, 135);
    margin: 10px 200px 10px 200px;
    padding: 2px;
    color:rgb(174, 0, 255);
    font-family: Lobster;
}

ul {
    margin: auto 200px auto 200px;
    font-size: 18px;
    color: rgb(243, 95, 95);
}
form {
    text-align: center;
}