

.nvs-main {
  max-width: 900px;
  margin: 1rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  /* box-shadow: 0 4px 20px rgba(0,0,0,0.05); */
}

.nvs-chatgpt-logo {
  margin-bottom: 2rem;
  justify-items: center;
}

.nvs-chatgpt-logo svg {
  width: 100px;
  height: auto;
}

.nvs-prompt-content {
	justify-items: right;
}

.nvs-prompt {
  background-color: #f1f1f1;
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}

hr {
	border-color: #0d0d0d0d;
	height: 0px;
	border-top-width: 1px;
}

.nvs-intro {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.nvs-content h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.nvs-content p {
  font-size: 1.05rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.nvs-content .nvs-highlight {
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
}
