:root {
	--primary: white;
	--shadow: 0 1px 5px rgba(233, 232, 232, 0.8);
}

body {
	margin: 0;
	display: grid;
	grid-template-areas: 
	'title-bar'
	'top-container';
}

.title-bar {
	position: fixed;
	z-index: 1;
	/* background: white; */
	width: 100%;
	box-shadow: var(--shadow);
	height: 4em;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	border: 2px solid greenyellow;
}

.menus {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	align-self: center;
	gap: 1em;
}

.menus a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: large;
}

.menus a:hover {
	color: blue;
}

.top-container {
	margin-top: 4em;
	padding-top: 0;
	display: grid;
	grid-template-rows: 1fr 4fr;
	gap: 1em;
	border: 2px solid red;
}

.me {
	background: url(../../img/myphotosq.jpg);
	height: 200px;
	width: 200px;
	background-size: cover;
	background-position: center;
	border: 1px solid orange;
	justify-self: center;
}

.heading {
	border: 1px solid orange;
	align-self: end;
	justify-self: center;
}

