body {
	margin: 0;
}
.menus a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: large;
}
a:hover {
	color: blue;
	/* font-size: large; */
}
.title-bar {
	position: fixed;
	z-index: 1;
	background: white;
	width: 100%;
}
.menu-bar {
	/* background: #c4c3d0; */
	/* position: fixed; */
	/* border:1px solid rgb(78, 78, 2); */
	height: 4em;
	 display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}
.logo {
	align-self: start;
	/* color: red; */
}
.menus {
	/* border:1px solid rgb(0, 17, 255); */
	 display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;	
	/* justify-self: end; */
	align-self: center;
	gap: 1em;
}
.menu-option {
	text-align: right;
}

/* .menus > div {
	border:1px solid black;
} */
.main-section {
	padding: 4em;
	/* border:1px solid rgb(250, 4, 4); */
	/* background: #eee; */
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}
.content {
	text-align: justify;
}
.footer {
	/* border:1px solid rgb(250, 4, 4); */
	/* background: #c4c3d0; */
	height: 6em;
	display: grid;
	grid-template-columns: 1fr;
}
.copyright {
	justify-self: center;
	align-self: center;
}